{% extends'UtiliBundle::base.html.twig' %}
{%block body%}
<div class="container form-ajout">

	<div class="row" style="min-height:332px">&nbsp;
	</div>
	<div class="row">
		  <div class="col-md-3 col-md-offset-4" style="min-height:31px"> Utilisateur :
		  </div>
    </div>
	<div class="row">

		  <div class="col-md-4 col-md-offset-4" style="min-height:185px">
		         {{form_start(form)}} {{form_widget(form)}}
				<input class="btn btn-success" type="submit" value="Ajouter" /> {{form_end(form)}}

		  </div>
	</div>
</div>
{%endblock%}